 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 130vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('dist/img/child_icon_11.jpg');
    background-position: center;
    background-size: cover;
    position: center ;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 130px;

}
.nav-link-1{
    flex: 1;
    text-align: right;

}
.nav-link-1 ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link-1 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-link-1 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d7bed4;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-link-1 ul li:hover::after{
    width: 100%;
}

.text-box-1{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%,30%);
    text-align: center;
}
.text-box-2{
    width: 90%;
    color: #fff;
    position: absolute;
    top: -2%;
    right: 50%;
    transform: translate(50%,30%);
    text-align: center;
}
.text-box-1 h1{
    font-size: 30px;

}
.text-box-1 p{
    margin: 10px 0 40px;
    font-size: 10px;
    color: #fff;

}
.text-box-3{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 28%;
    right: 50%;
    transform: translate(50%,30%);
    text-align: center;
}
.text-box-3 h1{
    font-size: 30px;

}
.text-box-3 p{
    margin: 10px 0 40px;
    font-size: 10px;
    color: #fff;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.hero-btn:hover{
    border: 1px solid #d7bed4;
    background:#d7bed4;
    transition: 1s;
    text-decoration: none;

}
nav .fa{
    display: none;
}
@media (max-width: 700px){
    .header  {
        min-height: 150vh;

    }
    .text-box-3 h1{
        font-size: 15px;

    }

    .text-box-1{
        top: 1%;

    }
    .text-box-2{
        top: -23%;

    }
    .aboutUsBox h1{
        font-size: 15px;

    }
    .aboutUsBox p {
        font-size: 10px;

    }

    .text-box-1 h1{
        font-size: 15px;

    }
    .text-box-2 h1{
        font-size: 15px;

    }
    .nav-link-1 ul li{
        display: block;
    }
    .nav-link-1{
        position: absolute;
        background: #d7bed4;
        height: 150vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav-link-1 ul{
        padding: 30px;
    }

}
.aboutUsBox{
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 50px 60px;
    text-align: center;


}
.aboutUs{
    min-height: 30vh;

}
.footer-1{
    text-align: left;
}
